@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #100d26;
    --bg-secondary: #eafbff;

    --bg-primary-opacity: rgba(16, 13, 38, 0.3);
    --bg-secondary-opacity: rgba(16, 13, 38, 0.45);

    --text-primary: #eafbff;
    --text-secondary: #151b36;
    --text-red: #ff0000;

    --accent-primary: rgb(65, 242, 77);
    --accent-secondary: #c3fcf2;

    --shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  }

  * {
    @apply transition-colors duration-200 ease-in-out;
  }

  svg {
    transition: unset;
  }
}
